@function imgUrl($file) {
    @return url("../images/" + $file) no-repeat;
}

header.header {
    .header-navigation-bar {
        ul.navbar-nav li.nav-item {
            .nav-link {
                font-weight: 600;
                color: $light-black;
                padding: 0 34.2px;
                font-size: 1rem;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }

        .current-menu-item .nav-link {
            font-weight: 900 !important;
        }

        @include media-breakpoint-down(sm) {
            .navbar-brand img {
                max-width: 70%;
            }
        }
    }
}

section.banner {
    .banner-inner {
        padding: 60px 0 80px;

        @include media-breakpoint-up(md) {
            padding: 100px 0 69px 0;
        }

        .title {
            font-weight: 900;
            border-bottom: 5px solid $primary;
            padding-bottom: 25px;
            color: $gray;
            line-height: 1;

            span.bordered-text {
                color: $white !important;
                text-shadow: -1.45px -1.45px 0 $gray, 1.45px -1.45px 0 $gray, -1.45px 1.45px 0 $gray,
                    1.45px 1.45px 0 $gray !important;
                font-weight: 600;
            }
        }
    }
}

.small-hero-title {
    color: $primary;
    font-weight: 500;
    position: relative;
    font-size: 1.006875rem; // 16.11px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
        margin-left: 3.5rem;
    }

    &::before {
        position: absolute;
        content: "";
        top: 10px;
        left: -3.5rem;
        border-bottom: 1.15px solid $primary;
        width: 38px;

        @include media-breakpoint-down(sm) {
            top: 7px;
        }
    }
}

section.homepageBanner {
    background: $light-grey;

    @include media-breakpoint-up(xxl) {
        background: imgUrl("homepage_banner.webp") right top, linear-gradient(#f7f7f7 86%, $white 0%);
    }

    @include media-breakpoint-only(xl) {
        background: imgUrl("homepage_banner.webp") right top, linear-gradient(#f7f7f7 70%, $white 0%);
        background-size: 60%;
    }

    .homepage_bannerContentLeft {
        padding: 113px 0 215px 0;

        span.bordered-text {
            color: $white !important;
            text-shadow: -1.45px -1.45px 0 $gray, 1.45px -1.45px 0 $gray, -1.45px 1.45px 0 $gray, 1.45px 1.45px 0 $gray !important;
            font-weight: 600;
        }

        .horizontal-divider {
            background: $primary;
            background: #f38221;
            border-radius: 19.7619px;
            height: 5.27px;
            margin: 40px 0;
        }

        .homepage_bannerClientSlider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .homepage_bannerContentRight {
        .banner_infoSlider {
            padding: 53px 0;

            .slick-list {
                padding: 0 10% 0 0;
            }

            .slick-slide {
                margin-right: 20px;
            }

            .banner_infoContent {
                background: $white;
                box-shadow: 0px 14.4921px 63.2381px rgba(51, 51, 51, 0.06);
                border-radius: 32px;
                padding: 31.62px;
            }
        }
    }

    .mobile-cta {
        background: imgUrl("banner-mobile.png");

        .mobile-cta-card {
            padding: 1rem;
            background: #ffffff;
            box-shadow: 0px 14.5087px 63.3108px rgba(51, 51, 51, 0.06);
            border-radius: 42.2072px;
        }
    }
}

section.homepage {
    .homepage_about {
        background: linear-gradient($primary 0 85%, $white 85% 100%);
        margin: 36px 0 51px 0;

        .homepage_aboutText {
            padding: 100px 0;

            .homepage_smallHeroTitle {
                color: $white;
                font-weight: 500;
                position: relative;
                font-size: 1.006875rem; // 16.11px

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }

                &::before {
                    position: absolute;
                    content: "";
                    top: 10px;
                    left: -3.5rem;
                    border-bottom: 1.15px solid $white;
                    width: 38px;
                }
            }

            .homepage_aboutHeroTitle {
                color: $complete-black;
                padding: 33px 0 35px 0;
                font-weight: 600;
                text-transform: capitalize;
                font-size: 2.3rem; // 36.82px
                line-height: 1.42;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            .homepage_aboutSmDescription {
                line-height: 1.75;
                font-size: 1.15rem; // 18.41px

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }

                p {
                    padding: 8px 0;
                }
            }
        }

        .homepage_aboutButtons {
            a.btn {
                min-height: 48px;
                display: flex;
                align-items: center;
            }
        }
    }
}

section.quoteForm {
    .quoteForm_wrapper {
        padding: 61px 0 73px 0;

        .form-group {
            margin-bottom: 1.1875rem;
        }

        label {
            font-weight: 600;
            font-size: 1.125rem; // 18px
            color: $dark-grey;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }

        input {
            border: 1.5px solid $light-grey;
            border-radius: 10px;
        }

        input[type="submit"] {
            margin-top: 1.75rem;
            display: block;
            width: 100%;
            border-radius: 10px;
            border: 0;
            color: $white;
            background: $primary;
            line-height: 1;
            padding: 26px 16px;
        }
    }
}

section.about {
    .section__1 {
        .hero-image-1 {
            border-radius: 0px 0px 50px 0px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .section__1,
    .section__3 {
        .about-text {
            padding: 34px 0;

            .about-hero-title {
                color: $complete-black;
                padding: 34.14px 0 46px 0;
                font-weight: 600;
                text-transform: capitalize;
                font-size: 2.1225rem; // 33.96px

                @include media-breakpoint-down(sm) {
                    font-size: 1.3rem;
                    padding: 24px 0;
                }
            }

            .about-sm-description {
                line-height: 2;
                font-size: 1.25rem; // 20px

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }

                p {
                    padding: 8px 0;
                }
            }
        }
    }

    .section__2 {
        padding: 24px 0;

        @include media-breakpoint-up(md) {
            padding: 67px 0;
        }

        .hero-description-2 {
            font-weight: 600;
            line-height: 1.71;
        }
    }

    .section__3 {
        padding: 64px 0 0 0;

        @include media-breakpoint-up(md) {
            padding: 63px 0;
        }
    }

    .section__4 {
        @include media-breakpoint-up(md) {
            margin-top: 120px;
        }

        .team {
            background: rgba(243, 130, 33, 0.7);
            padding: 48px 0;

            @include media-breakpoint-up(md) {
                padding: 103px 0;
            }

            .team_memberDpWrapper {
                border-radius: 23px;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: end;
                justify-content: center;

                img.team_memberDp {
                    width: 100%;
                }

                .team_aboutTeamMemberWrapper {
                    position: absolute;
                    background: $white;
                    border-radius: 21.61px;
                    bottom: 43px;
                    width: 85%;
                    text-align: center;

                    img.team_union {
                        width: 91.71px !important;
                        height: 91.71px !important;
                        margin: -45.5px auto 0 auto;
                    }

                    .team_memberInfo {
                        font-family: $font-gilroy;
                        color: $black;
                        font-weight: 400;
                        padding: 0 16px 37px;

                        @include media-breakpoint-up(md) {
                            padding: 0 37px 44px 37px;
                        }

                        p.team_memberName {
                            font-weight: 700;
                            font-size: 1.341875rem; // 21.47px

                            @include media-breakpoint-down(sm) {
                                font-size: 1rem;
                            }
                        }

                        p.team_memberDesignation {
                            font-size: 14.32px;
                            opacity: 0.8;
                        }

                        p.team_memberBio {
                            padding-top: 31.33px;
                        }
                    }
                }
            }

            .team_heading {
                font-weight: 600;
                color: $white;
                line-height: 1.59;
                font-size: 2.3125rem; // 37px
                margin-bottom: 0;

                @include media-breakpoint-down(lg) {
                    font-size: 3rem;
                }

                @include media-breakpoint-down(sm) {
                    padding-top: 24px;
                    font-size: 1.3rem;
                }
            }

            .team_heading > span.bordered-text {
                color: rgba(243, 130, 33, 0.8) !important;
                text-shadow: -1.45px -1.45px 0 $white, 1.45px -1.45px 0 $white, -1.45px 1.45px 0 $white,
                    1.45px 1.45px 0 $white !important;
                font-weight: 600;
            }

            .team_horizontalDivider {
                height: 5px;
                width: 392px;
                background: $black;
                border-radius: 19.76px;
                margin: 40px 0;
            }

            .team_description {
                color: $white;
                line-height: 1.7;
                font-weight: 500;

                @include media-breakpoint-up(md) {
                    font-weight: 600;
                    line-height: 2;
                    padding-right: 64px;
                }
            }

            .team_buttonWrapper {
                padding-top: 24px;
            }
        }
    }
}

section.services {
    .services_heroText {
        text-align: center;
        font-weight: 600;
        padding-top: 64px;

        @include media-breakpoint-up(md) {
            padding-top: 104px;
        }

        p {
            font-weight: 400;
            font-size: 0.875rem; // 20px
            line-height: 2;
            padding-top: 24px;

            @include media-breakpoint-up(md) {
                padding: 40px 100px 0;
                font-size: 1.25rem; // 20px
            }
        }
    }

    .service_listWrapper {
        padding: 24px 0;

        @include media-breakpoint-up(md) {
            padding: 59px 0 65px 0;
        }

        .services_listCard {
            padding: 16px 0;

            @include media-breakpoint-up(md) {
                padding: 35px 0;
            }

            .cover_image {
                width: 100%;
                border-radius: 25.29px;
                overflow: hidden;
            }

            .services_listTitle {
                color: $complete-black;
                font-weight: 700;
                padding-top: 25.29px;
                font-size: 1rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.469rem; // 23.5px
                }
            }
        }
    }
}

section.services_inner {
    .section__1 {
        padding: 118px 0 146px;

        .services_innerText {
            .services_innerHeroTitle {
                color: $complete-black;
                padding: 34.14px 0 46px 0;
                font-weight: 600;
                font-size: 2.1225rem; // 33.96px

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            .services_innerSmDescription {
                line-height: 2;
                font-size: 1.25rem; // 20px

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }

                p {
                    padding: 8px 0;
                }
            }

            .services_innerButtons {
                a.btn {
                    min-height: 48px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .section__2 {
        background: imgUrl("service_innerTestimonialBg.png") center top;
        background-size: contain;
        padding: 105px 0 33px;

        .services_innerTestimonialWrapper {
            background-color: $white;
            border-radius: 16px;
            box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
            padding: 59px 74px;

            p {
                font-size: 0.875rem; // 14px
                color: $dark-grey;
                line-height: 1.714;
                padding: 8px 0;
            }
        }
    }
}

section.contact-us {
    .contact_form {
        padding: 61px 0;

        label {
            font-weight: 600;
            font-size: 1.5rem; // 24px

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }

        .sub_label {
            font-weight: 500;
            font-size: 1.125rem; // 18px
            color: $light;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }

        input,
        textarea {
            border: 0;
            border-bottom: 1.2px solid #eeeeee;
        }

        input[type="submit"] {
            border: 0;
            background: $secondary;
            color: #cb5e00;
            font-weight: 700;
            border-radius: 50px;
            line-height: 1;
            padding: 22px 78px;
            font-size: 1.53rem; // 24.48px

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }

        textarea.form-control {
            height: 5rem !important;
        }
    }

    .contact_address {
        background-color: $primary;
        padding: 48px 16px;

        @include media-breakpoint-up(md) {
            padding: 185px 87px 177.5px;
            margin-top: -6rem;
        }

        .admin_email {
            padding-top: 48px;
            
            @include media-breakpoint-up(md) {
                padding-top: 122px;
            }
        }
    }
}

section.testimonials {
    padding: 70px 0;

    .testimonial_slider {
        margin: 36px 0;

        @include media-breakpoint-up(md) {
            margin: 71px 0;
        }

        .slick-slide {
            margin: 0 28px;
        }

        .testimonial_cardWrapper {
            img {
                width: 100%;
            }

            .testimonial_textWrapper {
                background: $white;
                box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
                position: relative;
                margin: -2rem 7px 0;
                border-radius: 10px;
                padding: 32px 16px;

                @include media-breakpoint-up(md) {
                    margin: -8rem 64px 0 64px;
                    border-radius: 16px;
                    padding: 32px;
                }

                .testimonial_textHeading {
                    padding-bottom: 16px;
                }

                .testimonial_textContent {
                    p {
                        padding: 6px 0;
                        line-height: 1.71;
                    }
                }
            }
        }

        .slick-dots {
            display: flex !important;
            bottom: -32px;
            justify-content: center;
            list-style-type: none;
            padding-top: 12px;

            li {
                margin: 0 0.785rem;
                width: 12.57px;
                height: 12.57px;

                button:before {
                    width: 12.57px;
                    height: 12.57px;
                }
            }

            button {
                display: block;
                width: 12.57px;
                height: 12.57px;
                padding: 0;
                border: none;
                background-color: $light-grey;
                text-indent: -9999px;
                border-radius: 50%;
            }

            li.slick-active button {
                background-color: $primary;
            }
        }
    }
}

section.gallery {
    padding-top: 64px;

    @include media-breakpoint-up(md) {
        padding: 101px 0 89px 0;
    }

    .gallery_sliderContent,
    .grid-wrapper > div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .overlay {
            position: absolute;
            background: linear-gradient(0deg, #3d3d3d -0.97%, rgba(255, 255, 255, 0) 101.19%);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 16px;
        }
    }

    .grid-wrapper > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        filter: drop-shadow(0px 9.23079px 23.077px rgba(0, 0, 0, 0.25));
    }

    .grid-wrapper {
        display: grid;
        grid-gap: 45px;
        grid-template-columns: repeat(auto-fit, minmax(353.09px, 1fr));
        grid-auto-rows: 381.6px;
        grid-auto-flow: dense;

        .wide {
            grid-column: span 2;
        }
    }

    .gallery_slider {
        .slick-track {
            display: flex;
            align-items: center;
        }
        .slick-slide {
            margin: 0 16px;
        }

        .gallery_sliderContent {
            img {
                width: 100%;
                border-radius: 16px;
            }
        }
    }
}

section.serviceList {
    padding: 64px 0;

    @include media-breakpoint-up(md) {
        padding: 130px 0;
    }

    .serviceList_heroHeading {
        font-size: 2rem; //32px
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            font-size: 1.5rem;
        }
    }

    .serviceList_slider {
        padding-top: 48px;

        @include media-breakpoint-up(md) {
            padding-top: 71px;
        }

        .slick-list {
            padding: 0 5% 0 0;
        }

        .slick-slide {
            padding: 0 23px 0 0;
        }
    }

    .serviceList_arrows {
        cursor: pointer;
    }
}

section.areas {
    .areatop {
        padding: 4rem 0;

        @media screen and (max-width: 576px) {
            padding: 2.25rem 0;
        }

        .heading {
            font-size: 2.25rem;
            font-weight: 500;

            @include media-breakpoint-down(sm) {
                font-size: 2rem;
                font-weight: 700;
            }
        }

        .sub-heading {
            font-size: 1.125rem;
            color: #3c4a5a;
            font-weight: normal;

            @media screen and (max-width: 576px) {
                font-size: 0.75rem;
            }

            a {
                color: #3c4a5a;
                font-weight: bold;

                &:hover {
                    color: $primary;
                }
            }
        }

        .alphbetwrap {
            padding: 0;

            .areas_allSearch {
                display: inline-block;
                background-color: $white;
                text-align: center;
                background-color: $white;
                margin-right: 1.2rem;
                font-size: 1rem;
                font-weight: bold;
                padding: 0.713rem 1.688rem;
                color: #3c4a5a;
                cursor: pointer;
                margin-right: 0.214rem;
            }

            .areas_alphabet {
                display: inline-block;
                background-color: $white;
                color: #3c4a5a;
                text-align: center;
                margin-bottom: 0.5rem;
                margin-right: 0.214rem;
                cursor: pointer;
                font-size: 1rem;
                padding: 0.713rem 1.45rem;
                text-transform: uppercase;
                font-weight: bold;
                transition: 0.35s all ease;

                &:hover {
                    color: $white;
                    background-color: $primary;
                }
            }

            .active {
                background-color: $primary;
                color: $white;
            }
        }
    }

    .areawrap {
        padding: 3.25rem 0;

        @media screen and (max-width: 576px) {
            padding: 2.75rem 0;
        }

        .all-list {
            font-size: 5rem;

            @media screen and (max-width: 576px) {
                font-size: 3.125rem;
            }

            span {
                color: $black;
            }
        }

        .arealistwrap {
            .alphabet-title {
                font-size: 1.875rem;
                color: #1b2039;
                margin-bottom: 1rem;
            }

            ul {
                margin-bottom: 0;
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 0 2rem;

                li {
                    display: inline-block;
                    padding: 0.25rem 0;

                    a {
                        font-size: 0.938rem;
                        color: $black;

                        &:hover {
                            color: $primary;
                        }
                    }
                }

                .show-more {
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .areahide {
                display: none;
            }

            .mbottom {
                margin-bottom: 7.2rem;

                @media screen and (max-width: 576px) {
                    margin-bottom: 2rem;
                }
            }

            .seemore {
                color: #959595;
                font-style: italic;
                text-decoration: underline;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    color: $primary;
                }
            }
        }

        .arealisthide {
            display: none;
        }

        h2 {
            font-size: 3.6rem;
            text-align: center;
            font-style: italic;
            margin-bottom: 7rem;
        }

        .areas_loadMoreWrap {
            position: relative;
            text-align: center;
            padding: 3rem 0 1.6rem;

            a {
                font-weight: bold;
                color: $white;
                font-size: 1.2rem;
                padding: 1rem;
                width: 13.2rem;
                display: inline-block;
                text-align: center;
                border-radius: 0;
                background-color: $primary;

                &:hover {
                    background-color: $secondary;
                    color: $white;
                }
            }
        }
    }

    div.areas_droplist {
        position: relative;
        z-index: 9;
    }

    div.areas_droplist > div.caption {
        border: 1px solid #c4c4c4;
        padding: 11px 24px;
        border-radius: 0;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0.5rem;
            top: 35%;
            border: solid $primary;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            transition: all 0.35s ease;
        }
    }

    div.areas_droplist > div.list {
        position: absolute;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 0 0 3px 3px;
        display: none;
    }

    div.areas_droplist > div.list > div.item {
        padding: 11px 24px;
        background-color: #cecece;
        cursor: pointer;
    }

    div.areas_droplist > div.list > div.item.selected {
        font-weight: bold;
    }

    div.areas_droplist > div.caption:hover,
    div.areas_droplist > div.list > div.item:hover {
        background-color: $primary;
        color: #fff;
    }

    div.areas_droplist.open > div.caption {
        border-radius: 3px 3px 0 0;
        border-bottom: solid 1px #999;
    }

    div.areas_droplist.open > div.list {
        display: block;
        z-index: 99;
    }
}

section.map {
    iframe {
        height: 700px;
        width: 100%;
        margin-bottom: -4px;
    }
}

footer.footer {
    padding: 53px 0 34px 0;

    @include media-breakpoint-up(md) {
        padding: 83px 0 56px 0;
    }

    .footer-description {
        opacity: 0.75;
        font-weight: 300;
        color: $white;
        font-size: 0.875rem;
        line-height: 1.71;
        padding: 29px 0;
    }

    .social-media .social-icon {
        padding: 0 12px;
    }

    .footer-sidebar-column {
        .footer-sidebar-title {
            color: $white;
            font-weight: 600;
            padding-bottom: 15px;

            &.invisible {
                visibility: invisible;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                padding: 9px 0;
                color: $light;
                font-weight: 300;
            }
        }
    }

    .footer-bottom {
        padding-top: 52px;

        .copyright p {
            color: $white;
            font-size: 0.9375rem; // 15px
            line-height: 2.53;

            @include media-breakpoint-down(sm) {
                line-height: 1;
                font-size: 0.875rem;
                text-align: center;
                padding-bottom: 24px;
            }
        }
    }
}
